!DOCTYPE html>
<html>
<head>
  <title>Home - Gift Hub</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to Gift Hub</h1>
  <a href="/about">About Us</a> | <a href="/gallery">Gallery</a>
</body>
</html>

about.ejs
